body {
  background: #333;
  overflow: hidden;
}
/* .contenedor {
  height: 400px;
  width: 400px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin:  150px auto;
} */
.contenedor-todo{
  height: 100%;
}
.cara {
  height: 30px;
  width: 30px;
  transform-style: preserve-3d;
  transition: 2s;
  animation: rotar 7s infinite linear;
}
.espacio{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  height: 100%;
  width: 100%;
  margin: 0;
}
 .select-color {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em
}
 .select-color ul li{
   display: inline;
 }
 .select-color ul li, .select-color input{
   text-decoration: none;
   margin: 15px auto;
   max-width: 225px;
 }
 .select-color ul li a{
   color: white;
   font-family: monospace;
   font-weight: bolder;
   cursor: pointer;
 }
.select-color .lista{
  transition: opacity .5s ease-in-out .2s;
  opacity: 0;
}
.select-color .btn:focus + .lista {
  opacity: 1;
}
.contenedor-cubo{
  perspective: 1000px;
  box-shadow: 0 0 300px #888;
  border-radius: 50%;
}
.cubo {
  height: 140px;
  width: 140px;
  transform-style: preserve-3d;
  animation: rotar 12s infinite linear;
  animation-direction:reverse;
}
.cubo .item .color{
  width: 33.33%;
  height: 33.33%;
  border: .5px solid black;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -1px 22px 4px rgba(0,0,0,0.81);
  box-shadow: inset 0px -1px 22px 4px rgba(0,0,0,0.81);
  transition: all 1s;
}
.cubo .item .color:hover{
  background: transparent;
}

.cubo .item .original-1{ background: black;}
.cubo .item .original-2{ background: #2a3831;}
.cubo .item .original-3{ background: #273443;}
.cubo .item .original-4{ background: #212021;}
.cubo .item .original-5{ background: #d9d9d9;}
.cubo .item .original-6{ background: #262626;}

.cubo .item .rosa-1{ background: #eba2d4;}
.cubo .item .rosa-2{ background: #ff5297;}
.cubo .item .rosa-3{ background: #6e0b32;}
.cubo .item .rosa-4{ background: #6e324a;}
.cubo .item .rosa-5{ background: #ffd4e5;}
.cubo .item .rosa-6{ background: #380117;}

.cubo .item .azul-1{ background: #0a2736;}
.cubo .item .azul-2{ background: #19b1ff;}
.cubo .item .azul-3{ background: #70cbfa;}
.cubo .item .azul-4{ background: #597887;}
.cubo .item .azul-5{ background: #1f3540;}
.cubo .item .azul-6{ background: #081e29;}

.cubo .item .verde-1{ background: #167a6a;}
.cubo .item .verde-2{ background: #1bf2d0;}
.cubo .item .verde-3{ background: #304d38;}
.cubo .item .verde-4{ background: #4f8c60;}
.cubo .item .verde-5{ background: #70ff98;}
.cubo .item .verde-6{ background: #024d17;}

.cubo .item{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
}
.cubo .item-1{
  transform: rotateY(0deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
.cubo .item-2{
  transform: rotateX(90deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
.cubo .item-3{
  transform: rotateY(-180deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
.cubo .item-4{
  transform: rotateY(-90deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
.cubo .item-5{
  transform: rotateY(90deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
.cubo .item-6{
  transform: rotateX(-90deg) translateZ(70px);
  border: 3px solid black;
  border-radius: 3px;
}
@keyframes rotar {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/**Proyectos-mapamundi***/
.mapamundi{
  margin-bottom: 0;
}

.contenedor-mapamundi{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background: url(./img/mapamundi.jpg);
  background-size: auto 100%;
  transition: all 1s ease;
  animation: rotacion 12s infinite linear;
  box-shadow: 0px 5px 150px #ccc;
}
.anochecer{
  background: url(./img/mapamundi2.jpg);
  background-size: auto 100%;
}
.sombra-mapamundi{
  background: transparent;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: inset 35px -25px 41px -3px rgba(0,0,0,0.85);
  -moz-box-shadow: inset 35px -25px 41px -3px rgba(0,0,0,0.85);
  box-shadow: inset 35px -25px 41px -3px rgba(0,0,0,0.85);
}
@keyframes rotacion{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 100%;
  }
}
.boton-anochecer{
  margin: 5em auto;
}